/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.phpstorm.meta.php
_ide_helper.php
public/mix-manifest.json
/MovieReviewClassifier/.idea/
/DeployScripts/*
.env.*
!.env.example
Dockerrun.aws.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
