// Variables
@import "variables";
// Mixins
@import "mixins";

footer.footer {
  background: $footer-bg;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 500px 0 500px $footer-bg;
  color: $footer-text-color;
  a {
    @include sliding-middle-out($sliding-underline-height, $footer-link-color);
    &:after {
      @include sliding-middle-out-after($sliding-underline-height, $footer-link-color);
    }
    &:hover,
    &:focus {
      @include sliding-middle-out-hover($footer-link-hover-color);
    }
    &:hover:after,
    &:focus:after {
      @include sliding-middle-out-hover-after($footer-link-hover-color);
    }
  }
}
