@mixin sliding-middle-out($height, $color) {
  display: inline-block;
  position: relative;
  padding-bottom: $height;
  color: $color;
  text-decoration: none;
  transition: color .5s ease;
}
@mixin sliding-middle-out-after($height, $color) {
  content: '';
  display: block;
  margin: auto;
  height: $height;
  width: 0;
  background-color: $color;
  transition: width .5s ease, background-color .5s ease;
}
@mixin sliding-middle-out-hover($color) {
  color: $color;
}
@mixin sliding-middle-out-hover-after($color) {
  width: 100%;
  background-color: $color;
}